
*{
  padding: 0px;
  margin: 0px;
}
span a{
  color: #252525;
  text-decoration: none;
}
span a:hover{
  color: #f14242;
}
span i{
  color: #f1428b;
  margin-right: 5px;
}

header span.icon {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding-right: 19px;
  padding-left: 19px;
}

.fa-plus-square{
  color: #f1428b;
}

#navbarColl li a{
  color: black;
}

#navbarColl li a:hover{
  color: #f14242;
  font-weight: 600;
}

#appointment{
  background: #f1428b;
  border-radius: 3px;
  color: #ffffff !important;
}

.home{
  width: 100%;
}
.inner-text{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 33%;
    color: #fff;
}
.inner-text h3{
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}
.inner-text h1{
  font-size: 68px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 10px;
}

