*{
  padding: 0px;
  margin: 0px;
}
span a{
  color: #252525;
  text-decoration: none;
}
span a:hover{
  color: #f14242;
}
span i{
  color: #f1428b;
  margin-right: 5px;
}

header span.icon {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding-right: 19px;
  padding-left: 19px;
}

.fa-plus-square{
  color: #f1428b;
}

#navbarColl li a{
  color: black;
}

#navbarColl li a:hover{
  color: #f14242;
  font-weight: 600;
}

#make-appoint{
  background: #f1428b;
  border-radius: 3px;
  color: #ffffff !important;
}

.inner-text{
  flex: 1 1 auto;
  padding: 1rem 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 33%;
  color: #fff;
}
.inner-text h3{
  font-size: 20px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}
.inner-text h1{
  font-size: 68px;
  line-height: 78px;
  font-weight: 700;
  margin-bottom: 10px;
}

.carousel-inner img{
  height: 100vh;
  filter: brightness(75%)
}

/* ****************
 Appointment
**********************/
#appointment {
  padding-top: 100px;
}
.appimage img{
  height: 562px;
}
#appointment label {
  color: #393939;
  font-weight: 500;
}
#appointment .section-title h2 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  margin: 0px 0px 15px;
}
#appointment .form-control {
  background: #f9f9f9;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
  transition: all ease-in-out 0.4s;
}

#appointment input,
#appointment select {
  height: 45px;
}

#appointment #cf-submit {
  background: #f1428b;
  color: #ffffff;
  font-weight: 600;
  height: 55px;
}

#appointment #cf-submit:hover {
  background: #bb2c33;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  #appointment .section-title h2{
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
  }
  

  .appimage{
    text-align: center;
  }
  .appimage img{
    display: inline;
  }

  #appointment-form {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  
  
}


/* Doctor */
#image{
  height: 23rem;
}
#docemail{
  text-decoration: none;
  color: black;
}
#docemail:hover{
  color: #f14242;
}
