
*{
  padding: 0px;
  margin: 0px;
}
span a{
  color: #252525;
  text-decoration: none;
}
span a:hover{
  color: #f14242;
}
span i{
  color: #f1428b;
  margin-right: 5px;
}

header span.icon {
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding-right: 19px;
  padding-left: 19px;
}


